{% extends 'base.html.twig' %}

{% block body %}
    {% set is_empty = true %}

    <a href="{{ path('cblog_admin') }}" class="btn btn-primary mb-3">{% trans from "user" %}back{% endtrans %}</a>

    {% include '/includes/content_handler.html.twig' with {
        'array': users,
        'content_attr': 'username',
        'id_column': 'id',
		'update_path_name': false,
        'delete_path_name': 'admin_user_delete'
    } only %}
{% endblock %}