{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ page.title }}{% endblock %}

{% block body %}
    <article class="article">
        <header class="mb-3"><h1>{{ page.title }}</h1></header>
        <div>
            {{ page.content|raw }}
        </div>
    </article>
{% endblock %}
