{% extends 'base.html.twig' %}

{% block body %}
    <artcile>
        <header><h1>Gestion des articles</h1></header>
        <aside><a href="./article/add" class="btn btn-primary">Créer un article</a></aside>
        <table class="table table-striped">
            <tbody>
            {% for o in articles %}
                <tr>
                    <td class="w-75">{{ o.title }}</td>
                    <td class="form-group">
                        <a href="./article/update/{{ o.id }}" class="form-control btn btn-primary">Modifier</a>
                    </td>
                    <td class="form-group">
                        <a href="./article/delete/{{ o.id }}" class="form-control btn btn-primary">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </article>
{% endblock %}
