{% extends 'base.html.twig' %}

{% block body %}
    <article>
        <header><h1>Configuration</h1></header>
        <table class="table table-striped">
            <tbody>
            {% for o in configs %}
                <tr>
                    <td class="w-75">{{ o.fullName }}</td>
                    <td>
                        <a href="{{ path('update_config', {'name':o.name}) }}" class="btn btn-primary float-right">Modifier</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </article>

    <artcile>
        <header><h1>Gestion des articles</h1></header>
        <aside><a href="{{ path('article_add') }}" class="btn btn-primary">Créer un article</a></aside>
        {% include'includes/content_handler.html.twig' with {
            'array': articles,
            'update_path_name': 'article_update',
            'delete_path_name': 'article_delete'
        } %}
    </article>

    <artcile>
        <header><h1>Gestion des pages</h1></header>
        <aside><a href="{{ path('page_add') }}" class="btn btn-primary">Créer une page</a></aside>
        {% include 'includes/content_handler.html.twig' with {
            'array': global_pages,
            'update_path_name': 'page_update',
            'delete_path_name': 'page_delete'
        } %}
    </article>
{% endblock %}
