{% set is_empty = true %}

<table class="table table-striped table-list table-bordered">
    <tbody>
    {% for o in array %}
        {% set is_empty = false %}

        <tr>
            <td class="w-75">{{ attribute(o, content_attr) }}</td>
            {% if update_path_name %}
                <td class="form-group">
                    <a href="{{ path(update_path_name, {id: attribute(o, id_column)}) }}" class="form-control btn btn-primary">
                        {% trans from 'content' %}update{% endtrans %}
                    </a>
                </td>
            {% endif %}

            {% if delete_path_name %}
                <td class="form-group">
                    <button
                        class="form-control btn btn-primary"
                        onclick="window.display_prompt('{% trans from "content" %}delete_prompt{% endtrans %}', '{{ path(delete_path_name, {id: attribute(o, id_column)}) }}')">
                            {% trans from 'content' %}delete{% endtrans %}
                    </button>
                </td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>

{% if is_empty %}
    <p class="text-error">{% trans from 'content' %}nothing{% endtrans %}</p>
{% endif %}
