<table class="table table-striped table-list">
    <tbody>
    {% for o in array %}
        <tr>
            <td class="w-75">{{ o.title }}</td>
            <td class="form-group">
                <a href="{{ path(update_path_name, {id: o.id}) }}" class="form-control btn btn-primary">Modifier</a>
            </td>
            <td class="form-group">
                <a href="{{ path(delete_path_name, {id: o.id}) }}" class="form-control btn btn-primary">Supprimer</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>