.article {
    > div {
        font-size: 1.2rem;
    }
}

.article-list {
    border-bottom: 2px dashed $secondary;
}

.article-list:last-child {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
    border-bottom: 0 !important;
}

.aside {
    font-size: 0.85rem;
    font-style: italic;
}

.comment-header {
    font-size: 0;

    span {
        @extend .aside;
    }

    span::after {
        margin: 0 0.5rem;
        content: "-";
    }

    span:last-child::after {
        content: "";
    }
}

.summarize-img {
    max-width: 30%;
    max-height: 18rem;
    width: auto;
    height: auto;
    float: left;
}

p:last-child {
    margin-bottom: 0;
}
