* {
	margin: 0;
	padding: 0;
	font-size: 1rem;
	box-sizing: border-box !important;
}

label {
	cursor: pointer;
}

/* variables part */
@import "./colors.scss";

/* admin part */
@import "./admin.scss";

/* structures part */
@import "./body.scss";

/* structures part */
@import "./content.scss";

/* prompt part */
@import "./message.scss";

/* bootstraps part */
@import "~bootstrap/scss/bootstrap";
