{% extends 'base.html.twig' %}

{% block body %}
    <p class="text-success">Le commentaire a bien été supprimé</p>
    <p><a href="{{ path('article', {url: article_url}) }}" class="btn btn-primary">Retour</a></p>
{% endblock %}
