{% extends 'base.html.twig' %}

{% block body %}
    <p class="text-success">{{ deleted_message|trans({}, 'content') }}</p>
    <a href="{{ path('cblog_admin') }}" class="btn btn-primary">
        {% trans from 'content' %}back{% endtrans %}
    </a>
{% endblock %}
