{% extends 'base.html.twig' %}

{% block body %}
    <p class="text-success">{{ deleted_message }}</p>
    <p><a href="{{ path('cblog_admin') }}" class="btn btn-primary">Retour</a></p>
{% endblock %}
