{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('cblog_admin') }}" class="btn btn-primary">{% trans from 'content' %}back{% endtrans %}</a>

    {% include '/includes/content_handler.html.twig' with {
        'array': contents,
        'content_attr': 'title',
        'id_column': 'id',
        'update_path_name': update_path_name,
        'delete_path_name': delete_path_name
    } only %}
{% endblock %}
