{% extends 'base.html.twig' %}

{% block body %}

    {% if status_code == 404 || status_code == 403 %}
        <h1 class="text-error">Erreur {{ status_code }}</h1>
        <p>{{ status_text }}</p>
    {% else %}
        <p class="text-error">Une erreur est survenue</p>
    {% endif %}

    <p><a href="{{ path('index') }}">Retour à l'accueil</a>

{% endblock %}
