{% extends 'base.html.twig' %}

{% block body %}
    {% if (status_code == 404) or (status_code == 403) %}
        <h1 class="text-error mb-3">
            {% trans from 'error' %}error_title{% endtrans %} {{ status_code }}
        </h1>
        <p>{{ exception.message|trans }}</p>
    {% else %}
        <h1 class="text-error mb-3">
            {% trans from 'error' %}error_message{% endtrans %}
        </h1>
    {% endif %}

    <a href="{{ path('index') }}">
        {% trans from 'error' %}back{% endtrans %}
    </a>

{% endblock %}
