{% extends 'base.html.twig' %}

{% block body %}

    {% if (status_code == 404) or (status_code == 403) %}
        <h1 class="text-error mb-3">Erreur {{ status_code }}</h1>
        <p>{{ status_text }}</p>
    {% else %}
        <h1 class="text-error mb-3">Une erreur est survenue</h1>
    {% endif %}

    <a href="{{ path('index') }}">Retour à l'accueil</a>

{% endblock %}
